.about-network {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;

    .pozadina {
        position: absolute;
        width: 100%;
        object-fit: cover;
        z-index: 1;
    }

    .container {
        z-index: 2;
        min-height: 50vh;

        h3, p {      
            color: color(primary);
            z-index: 100;    
        }

        h3 {
            margin-top: 75px;
        }

        p {
            margin-top: 20px;
            margin-bottom: 50px;
        }

        .about-cards {
            z-index: 100;
            margin-bottom: 100px;

            a {
                text-decoration: none;
            }
            .about-card {
                position: relative;
                background: color(white);
                padding: 0;
                transition: 0.3s ease-in-out;

                img {
                    width: 100%;
                    object-fit: cover;
                }
                .card-img {
                    height: 60%;
                }

                .card-title {
                    position: absolute;
                    color: color(white);
                    top:25%;
                    left:50%;
                    transform: translate(-50%, -50%);
                    width:70%;

                    h3 {
                        border: 2px solid white;
                        color: color(white);
                        padding: 10px 20px;
                        font-size: 30px;
                        width: 100%;
                        text-align: center;
                    
                    }
                    
                }
                .card-text {
                    color: color(primary);
                }

                .card-button {
                    color: color(primary);
                    border: none;
                    width: 40%;
                    transition: 0.3s ease-in-out;
                    
                }

                &:hover {
                    background: color(success);
                    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.68);
                    
                    .card-text {
                        text-decoration: none;
                        color: color(white);
                    }
                    .card-button {
                        color: color(white);
                        background: rgba(0,0,0,0);
                    }
                }
            }

        }

    }


}