.cta-image {
    padding-top: 75px;
    padding-bottom: 75px;
    position: relative;

    .pozadina {
        height: 600px;
        position: absolute;
        top: 200px;
        left: -5%;
        width: 110%;
        right: -5%;
        max-width: 110%;
        object-fit: cover;
    }

    .card {
        margin-top: 250px;
        background-color: rgba(color(primary), 0.75);
        color: white;
        font-weight: 300;
        padding: 3rem;

        &-text {
            margin-bottom: 2rem;
        }

        
    }

    .card-footer {
        margin-top: auto;
    }
}