
.carousel-indicators {
    justify-content: start;
    margin-left: 80px;
    margin-right: 0;
    margin-bottom: 20px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid white;
    background-color: transparent;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 40px;
    height: 80px;
    background-image: none;
}

.carousel-control-prev, .carousel-control-next {
    text-decoration: none;
    font-size: 80px;
    width: 60px;
}

#carouselExampleIndicators {
    position: relative;

    .carousel-item {
        img {
            position: absolute;
            width: 100%;
            min-height: 100%;
        }

        .item-text {
            color: color(white);
        }

        h2{
            color: color(white);
        }
    }

    .active{
        background-color: white !important;
    }

    .btn {
        
        box-shadow: 0px 0px 15px 2px #fff;
    }
    
}

@media only screen and (max-device-width:576px){

   

}