
.carousel-indicators {
    justify-content: start;
    margin-left: 80px;
    margin-right: 0;
    margin-bottom: 20px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid white;
    background-color: transparent;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 40px;
    height: 80px;
    background-image: none;
}

.carousel-control-prev, .carousel-control-next {
    text-decoration: none;
    font-size: 80px;
}

#carouselExampleIndicators {
    position: relative;

    .active{
        background-color: white !important;
    }

    .jedan {
        background: linear-gradient(90deg, rgba(14,75,134,1) 0%, rgba(44,116,183,1) 100%);
    }

    .dva {
        background: linear-gradient(90deg, rgba(14,75,134,1) 0%, rgba(44,116,183,1) 100%);
    }

    .tri {
        background: linear-gradient(90deg, rgba(14,75,134,1) 0%, rgba(44,116,183,1) 100%);
    }

    h2 {
        margin-left: 400px;
        margin-top: 100px;
    }

    h4 {
        margin-left: 400px;
    }

    .btn {
        margin: 25px 0 100px 400px;
        box-shadow: 0px 0px 15px 2px #fff;
    }
    
}

