nav {
    
    a {
        color: color(primary);
        font-weight: 600;
    }

    .icons {
        color: color(primary);
        font-size: 30px;
        transition: 0.3s ease-in-out;
    }

    .icons:hover{
        color: color(success);
        cursor: pointer;
    }
}

@media only screen and (max-width: 320px) {
    .navbar-toggler {
        position: absolute;
    }
  }