nav {
    position: relative;
    z-index:1000;
    a {
        color: color(primary);
        font-weight: 600;
    }

    .icons {
        color: color(primary);
        font-size: 30px;
        transition: 0.3s ease-in-out;
    }

    .icons:hover{
        color: color(success);
        cursor: pointer;
    }

    .collapse{

        &.show{
            position:absolute;
            top:100%;
            left:0;
            width:100%;
            background-color:$white !important;
            padding:0 10px 10px 10px;
            text-align: center;
            box-shadow: inset 0px -1px 0px #DEDEDE;
        }
    }

    .collapsing{
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        text-align: center;
        padding:0 10px 10px 10px;
        background-color:$white !important;
        box-shadow: inset 0px -1px 0px #DEDEDE;   
    }
}

