nav {
    
    a {
        color: #0250A1;
        font-weight: 600;
    }

    .icons {
        color: #0250A1;
        font-size: 30px;
        transition: 0.3s ease-in-out;
    }

    .icons:hover{
        color: #6CB644;
    }
}
