.rmvideos{
    position: relative;
    overflow: hidden;
    

    img {
        position: absolute;
        width: 100%;
        object-fit: cover;
        
    }
    h3 {
        color: color(white);
    }

    .video-card {
        p {
            color: color(white);
        }
    }
}