.rmvideos{
    background:color(primary) url(../img/jpg/lab.jpg) center center no-repeat;
    background-size: cover;

    h3 {
        color: color(white);
    }

    .video-card {
        p {
            color: color(white);
        }
    }
}